@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Airport Manager</h1>
    <p class="lead">Projekt na Programowanie Zaawansowe stworzony przy pomocy ASP.NET</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Admin</h2>
        <p>
            Login: admin@admin.pl, Hasło: Admin!23
        </p>
    </div>
    <div class="col-md-4">
        <h2>Użytkownik</h2>
        <p>
            Login: user@user.pl, Hasło: Admin!23
        </p>
    </div>
</div>